  services:
    php:
      container_name: php
      build:
        context: .
        dockerfile: .devcontainer/Dockerfile
      volumes:
        - ./:/var/www/html
      ports:
        - "8080:80"
      command: apache2-foreground
      environment:
        - DB_HOST=${DB_HOST}
        - DB_PORT=${DB_PORT}
        - DB_NAME=${DB_NAME}
        - DB_USER=${DB_USER}
        - DB_PASSWORD=${DB_PASSWORD}
        - MAILER_DSN=${MAILER_DSN}

        - OTEL_PHP_AUTOLOAD_ENABLED=true
        - OTEL_LOGS_EXPORTER=otlp
        - OTEL_TRACES_EXPORTER=otlp
        - OTEL_METRICS_EXPORTER=otlp

        - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
        - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
        - OTEL_METRIC_EXPORT_INTERVAL=5000

        - OTEL_SERVICE_NAME=app
        - OTEL_SERVICE_VERSION=1.0.0
        - OTEL_DEPLOYMENT_ENVIRONMENT=development
      depends_on:
        mysql:
          condition: service_healthy

    mysql:
      container_name: mysql
      image: mysql:8.0
      environment:
        MYSQL_ROOT_PASSWORD: rootpassword
        MYSQL_DATABASE: ${DB_NAME}
        MYSQL_USER: ${DB_USER}
        MYSQL_PASSWORD: ${DB_PASSWORD}
      ports:
        - "3306:3306"
      volumes:
        - mysql-data:/var/lib/mysql
        - ./docker/db:/docker-entrypoint-initdb.d
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-uroot", "-prootpassword"]
        interval: 2s
        timeout: 5s
        retries: 10
        start_period: 5s


    phpmyadmin:
      image: phpmyadmin:latest
      container_name: phpmyadmin
      restart: unless-stopped
      ports:
        - 8081:80
      environment:
        PMA_HOST: ${DB_HOST}
        PMA_USER: ${DB_USER}
        PMA_PASSWORD: ${DB_PASSWORD}
    #adminer:
    #  container_name: adminer
    #  image: adminer:latest
    #  ports:
    #    - "8081:8080"
    #  environment:
    #    ADMINER_DEFAULT_SERVER: mysql
    #    ADMINER_DESIGN: pepa-linha
    #  depends_on:
    #    mysql:
    #      condition: service_healthy
    mailpit:
      image: axllent/mailpit:latest
      container_name: mailpit
      restart: unless-stopped
      ports:
        - "1025:1025"
        - "8025:8025"
    grafana:
      container_name: grafana
      image: grafana/grafana:latest
      ports:
        - "3000:3000"
      environment:
        GF_SECURITY_ADMIN_PASSWORD: admin
      volumes:
        - grafana-data:/var/lib/grafana
        - ./grafana/provisioning:/etc/grafana/provisioning:ro
        - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      depends_on:
        - mysql
        - tempo
        - loki
        - prometheus
    otel-collector:
      container_name: otel-collector
      image: otel/opentelemetry-collector-contrib:latest
      restart: unless-stopped
      command: ["--config=/etc/otel-collector-config.yaml"]
      volumes:
        - ./docker/otel-collector.yaml:/etc/otel-collector-config.yaml:ro
      ports:
        - 4317:4317
        - 4318:4318
        - 8889:8889
    tempo:
      container_name: tempo
      image: grafana/tempo:latest
      restart: unless-stopped
      command: ["-config.file=/etc/tempo.yaml"]
      volumes:
        - ./docker/tempo.yaml:/etc/tempo.yaml:ro
        - tempo-data:/var/tempo
      ports:
        - 3200:3200
    prometheus:
      container_name: prometheus
      image: prom/prometheus:latest
      restart: unless-stopped
      ports:
        - 9090:9090
      volumes:
        - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      command:
        - --config.file=/etc/prometheus/prometheus.yml
        - --storage.tsdb.path=/prometheus
        - --web.enable-remote-write-receiver
        - --enable-feature=exemplar-storage
        - --enable-feature=native-histograms
    loki:
      container_name: loki
      image: grafana/loki:latest
      restart: unless-stopped
      ports:
        - 3100:3100
      volumes:
        # - ./loki/loki-config.yml:/etc/loki/local-config.yaml:ro
        - loki_data:/loki
    promtail:
      container_name: promtail
      image: grafana/promtail:latest
      restart: unless-stopped
      volumes:
        # - ./promtail/promtail-config.yml:/etc/promtail/config.yml:ro
        - /var/log:/var/log:ro
      command: -config.file=/etc/promtail/config.yml
  volumes:
    mysql-data:
    grafana-data:
    tempo-data:
    loki_data: